<section class="hero py-14">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-5xl font-bold">Don't wait !</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-2/5">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto py-8">
    <h1 class=" h1 text-2xl font-bold mb-8 text-center tracking-wide no-underline hover:underline ">ALL PIZZAS</h1>
    <svg class="animate-bounce w-2 h-2">
      </svg>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) { %>
        <div class="w-full md:w-64 shadow-xl rounded-md pb-2">
            <img class=" imgclass h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 mx-10 text-lg font-bold shadow rounded-full  bg-gradient-to-r from-red-500 hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50"><%= pizza.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs shadow-inner"><%= pizza.size %></span>
                <div class="flex items-center justify-around mt-6 p-1">
                    <span class=" p-1 font-bold text-lg shadow rounded-full">₹<%= pizza.price %></span>
                    <button data-pizza="<%= JSON.stringify(pizza) %>"
                        class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold shadow">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</section>

<!-- border border-gray-700 -->
<!-- bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 -->

<!-- bg-gradient-to-r from-pink-500 to-yellow-500 hover:from-green-400 hover:to-blue-500 -->